.btn-play {
  width: 25px;
}

.disp-f {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600.99px) {
  .wp-image-567 {
    display: none !important;
  }
}

.footer-logo {
  width: 100px !important;
}

.wpcf7-form .init {
  margin-bottom: 55px !important;
}
/* Slider */

.block-body {
  padding: 0px 0px 0px 0px;
  flex: 1 1 auto !important;

  min-width: 0;
}

.swiper {
  width: 80%;
  /* height: 500px; */
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -9px !important;
}

.swiper-slide {
  width: 100%;
  text-align: center;
}

.swiper-slide img {
  border-radius: 20px;
}

.swiper-wrapper {
  align-items: center;
}
