.btn-play {
  width: 25px;
}

.disp-f {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600.99px) {
  .wp-image-567 {
    display: none !important;
  }
}

.footer-logo {
  width: 100px !important;
}

.wpcf7-form .init {
  margin-bottom: 55px !important;
}
/* Slider */

.block-body {
  padding: 0px 0px 0px 0px;
  flex: 1 1 auto !important;

  min-width: 0;
}

.swiper {
  width: 80%;
  /* height: 500px; */
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -9px !important;
}

.swiper-slide {
  width: 100%;
  text-align: center;
}

.swiper-slide img {
  border-radius: 20px;
}

.swiper-wrapper {
  align-items: center;
}

.fs-18 {
  font-size: 18px;
}

.has-huge-font-size,
h2 .wp-block-heading {
  font-size: 60px !important;
}
@media (max-width: 445px) {
  .has-huge-font-size,
  h2 .wp-block-heading {
    font-size: 40px !important;
  }
}

.mr-0 {
  margin: 0 !important;
}

.font-size__footer {
  font-size: 20px;
}

.font-size__footer--15 {
  font-size: 15px;
}

.full-w {
  width: 100%;
}

.text-footer {
  font-size: 20px !important;
}

.wp-block-columns-is-layout-flex {
  gap: 50px !important;
}

.allert {
  display: flex;
  flex-direction: column;
}
